[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
sphinx = "*"
sphinx-book-theme = "*"
ipykernel = "*"
pylint = "*"
versioneer = "*"

[dev-packages]

[requires]
python_version = "3.9"
